body {
  margin: 0;
  padding: 0;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgb(19, 171, 236) 0%, rgba(236, 237, 240, 0.664) 100%);
}



.App {
  display: flex;
}

.container {
  flex-grow: 1;
  background: rgba(252,246,249,0.78);
  border: 3px solid #ffffff;
  backdrop-filter: blur(4.5px);
  border-radius: 32px;
  overflow: auto;
  overflow-x: hidden;
  margin: 0.2rem;
}

.v{
  color: rgb(212, 46, 129);
}