/* StartPage.css */

.startpage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative; /* Required for positioning bubbles */
    overflow: hidden;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    overflow: hidden; /* Ensures the text is not visible outside the container */
    white-space: nowrap; /* Prevents the text from wrapping */
    animation: typewriter 4s steps(40) both;
  }

  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 45%;
    }
  }
  

  .button_Container{
    display: flex;
    gap: 2rem;
  }

  p{
    text-align: center;
  }
  
  button {
    background-color: rgb(212, 46, 129);
    color: white;
    height: 6vh;
    border-radius: 10vh;
    border: solid white;
    height: 2.5rem;
    width: 9rem;
    font-size: 1.5rem;
  }
  
  button:hover {
    background-color: green;
  }
  
  button:focus {
    outline: none;
  }
  
.panda-image{
    height:53vh;
    width:55vh;
    animation: scaleInImage 1.5s ease-in-out;
}

@keyframes scaleInImage {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


